@model User;
@{
    ViewData["Title"] = "Вкладка користувачі";
    var GetData = (IEnumerable<User>)ViewData["FromObjCustomers"];
}
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="ControllerMainAdminPanel" asp-action="MainAdminPanel">Car Rent 1.0</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" asp-controller="ControllerMainAdminPanel" asp-action="MainAdminPanel">Домашня сторінка</a>
                    <a class="nav-link" asp-controller="ControlerCars" asp-action="Cars">Автомобілі</a>
                    <a class="nav-link" asp-controller="ControllerCustoners" asp-action="Customers">Клієнти</a>
                    <a class="nav-link" asp-controller="ControllerRents" asp-action="Rents">Оренда</a>
                    <a class="nav-link" asp-controller="ControllerReturns" asp-action="Returns">Повернення</a>
                    <a class="nav-link" asp-controller="ControllerLogin" asp-action="LoginPage">Вийти</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-xl-4">
                <div class="row">
                    <div class="col">
                        <h3 class="text-danger pl-4">Додавання користувачів</h3>
                        <img src="/img/customer.png" style="width:30%; height:70%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col w-100">
                        <form method="post">
                            <div class="mb-3">
                                <label for="FullNameCustomer" asp-for="СustomerFullNameTb" class="form-label">ПІБ користувача</label>
                                <input type="text" asp-for="СustomerFullNameTb" class="form-control" name="FullName" placeholder="Введіть Ім'я користувача">
                                <span asp-validation-for="СustomerFullNameTb" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="AddreessCustomer" asp-for="_AddreessTb" class="form-label">Адреса користувача</label>
                                <input type="text" asp-for="_AddreessTb" class="form-control" name="AddressCust" placeholder="Введіть Адресу користувача">
                                <span asp-validation-for="_AddreessTb" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="FullNumberPhone" asp-for="PhoneCustomerTb" class="form-label">Номер телефону користувача</label>
                                <input type="text" asp-for="PhoneCustomerTb" class="form-control" name="PhoneNumber" placeholder="Введіть Номер телефону користувача">
                                <span asp-validation-for="PhoneCustomerTb" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="CreateLoginCustomer" asp-for="CreateLoginTb" class="form-label">Створити логін користувача</label>
                                <input type="text" asp-for="CreateLoginTb" class="form-control" name="CreateLoginCust" placeholder="Створіть логін користувача">
                                <span asp-validation-for="CreateLoginTb" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="CreatePasswordCustomer" asp-for="CreatePasswordTb" class="form-label">Створити Пароль користувача</label>
                                <input type="text" asp-for="CreatePasswordTb" class="form-control" name="CreatePass" placeholder="Створіть пароль користувача">
                                <span asp-validation-for="CreatePasswordTb" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-danger">Додати</button>
                        </form>
                    </div>
                </div>
            </div>
                    <div class="col-xl-8">
                    <h1>Список користувачів</h1>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped w-100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ПІБ користувача</th>
                                        <th>Адреса користувача</th>
                                        <th>Номер телефону користувача</th>
                                        <th>Логін користувача</th>
                                        <th>Пароль користувача</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(GetData != null)
                                    {
                                        @foreach(var obj in GetData)
                                        {    
                                            <tr>    
                                                <td>
                                                    <div class="d-grid gap-2">
                                                        <button type="button" class="btn btn-outline-warning">
                                                            <a asp-controller="ControllerCustoners" asp-action="CustomersEdit" asp-route-id="@obj.Id" style="text-decoration:none">Редагувати</a>
                                                        </button>
                                                        <button type="button" class="btn btn-outline-danger">
                                                            <a asp-controller="ControllerCustoners" asp-action="CustomersDelete" asp-route-id="@obj.Id" style="text-decoration:none">Вилучити</a>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>
                                                    @obj.СustomerFullNameTb
                                                </td>
                                                <td>
                                                    @obj._AddreessTb
                                                </td>
                                                <td>
                                                    @obj.PhoneCustomerTb
                                                </td>
                                                <td width="30%">
                                                    @obj.CreateLoginTb
                                                </td>
                                                <td>
                                                    @obj.CreatePasswordTb
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                 </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</body>