@{
    ViewData["Title"] = "Вкладка поверення";
    var GetData = (IEnumerable<Returns>)ViewData["ReturnedCars"];
}
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="ControllerMainAdminPanel" asp-action="MainAdminPanel">Car Rent 1.0</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" asp-controller="ControllerMainAdminPanel" asp-action="MainAdminPanel">Домашня сторінка</a>
                    <a class="nav-link" asp-controller="ControlerCars" asp-action="Cars">Автомобілі</a>
                    <a class="nav-link" asp-controller="ControllerCustoners" asp-action="Customers">Клієнти</a>
                    <a class="nav-link" asp-controller="ControllerRents" asp-action="Rents">Оренда</a>
                    <a class="nav-link" asp-controller="ControllerReturns" asp-action="Returns">Повернення</a>
                    <a class="nav-link" asp-controller="ControllerLogin" asp-action="LoginPage">Вийти</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-xxl-8">
                <h3 class="text-warning text-center">Повернуті Автомобілі</h3>
                <div class="d-flex justify-content-center">
                    <img src="/img/car.png" style="width:12%; height:12%">
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped w-100">
                            <thead>
                                <tr>
                                    <th>Номер авто</th>
                                    <th>Ім'я Користувача</th>
                                    <th>Дата повернення</th>
                                    <th>Затримки після оренди в к-сть днях</th>
                                    <th>Комісії</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (GetData != null)
                                {
                                    @foreach (var obj in GetData)
                                    {
                                        <tr>
                                            <td>
                                                @obj.Car
                                            </td>
                                            <td>
                                                @obj.UserName
                                            </td>
                                            <td>
                                                @obj.Date
                                            </td>
                                            <td>
                                                @obj.Delay
                                            </td>
                                            <td>
                                                @obj.Fine
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>