@{
    ViewData["Title"] = "Оренда Автомобілей";
    var RentListAll = (IEnumerable<Rent>)ViewData["CarsRentList"];
}
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="ControllerMainAdminPanel" asp-action="MainAdminPanel">Car Rent 1.0</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" asp-controller="ControllerMainAdminPanel" asp-action="MainAdminPanel">Домашня сторінка</a>
                    <a class="nav-link" asp-controller="ControlerCars" asp-action="Cars">Автомобілі</a>
                    <a class="nav-link" asp-controller="ControllerCustoners" asp-action="Customers">Клієнти</a>
                    <a class="nav-link" asp-controller="ControllerRents" asp-action="Rents">Оренда</a>
                    <a class="nav-link" asp-controller="ControllerReturns" asp-action="Returns">Повернення</a>
                    <a class="nav-link" asp-controller="ControllerLogin" asp-action="LoginPage">Вийти</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-center d-flex">
            <div class="col-xxl-8">
                <div class="row">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="text-center">
                            <h3 class="text-danger">Орендовані автомобілі</h3>
                            <img src="/img/car 128px.png" style="width:50%; height:50%">
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped w-100">
                                <thead>
                                    <tr>
                                        <th></th>>
                                        <th>Ліцензійні номера автомобіля</th>
                                        <th>Клієнт</th>
                                        <th>Дата взяття</th>
                                        <th>Дата повернення</th>
                                        <th>Оплата</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var obj in RentListAll)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-grid gap-2">
                                                    <button type="button" class="btn btn-outline-warning">
                                                        <a asp-controller="ControllerRents" asp-action="SubmitRentReturns" asp-route-RentId="@obj.RentId" style="text-decoration:none">Повернути</a>
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                @obj.Car
                                            </td>
                                            <td>
                                                @obj.User
                                            </td>
                                            <td>
                                                @obj.RentTime
                                            </td>
                                            <td>
                                                @obj.ReturnDate
                                            </td>
                                            <td>
                                                @obj.Fees
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
